@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.curvy {
    font-family: 'Rubik Wet Paint',
        cursive;
    font-size: 2rem;
    background-color: #fff;
}

#nav-mobile li:not(:first-child):hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#nav-mobile li {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

ul:not(.browser-default) {
    margin-bottom: 0;
}

.row .col.s2 {
    width: 14.8%;
}

.row .col.s10 {
    width: 85.2%;
}

* {
    outline: none;
}

::selection {
    background: transparent;
}

.btn[disabled] {
    color: #fff !important;
}

img {
    max-width: 100%;
    height: auto;
}

.sidenav {
    width: 200px;
}

.row .col.offset-xl1 {
    margin-bottom: -15px;
}

.welcome-text {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.welcome-text p {
    padding: 10px 40px 6px;
    padding: 10px 40px 6px;
    max-width: 50%;
    text-align: center;
}

.materialboxed {
    cursor: cell;
}

.section-text {
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

/* #experience {
    height: 100vh;
} */

#profile .section-text {
    background-color: #34495efc;
    color: #fff;
}

#experience .section-text {
    background-color: #77A076;
}

.profile-details .avatar,
.profile-details li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.profile-details li>* {
    flex: 1
}

.profile-details li span {
    text-align: end;
}

.profile-details img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #00c6ff;
    margin-top: 56px;
    box-shadow: rgb(255 255 255 / 45%) 0px 25px 20px -20px;
}

.profile-details {
    background-color: #2f5975;
}

.profile-details li span {
    position: relative;
}

.profile-details li span+p {
    display: inline-block;
    margin-left: 20px;
    font-size: 26px;
}

.profile-details li span::after {
    content: '';
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

#experience .section,
#education .section {
    background-color: #86aaaa;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    padding-bottom: 70px;
}

.container-custom {
    margin-top: 56px;
    padding: 0 50px;
    flex: 1;
}

.container-custom+img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 60px;
    margin-right: 30px;
    object-fit: contain;
    justify-self: flex-end;
}

#experience i.tiny {
    margin: 6px;
}

#technology .section {
    background-color: #e6e6e6;
}

#technology .section-text {
    background-color: #D9D9D9;
}

#technology img {
    max-width: 133px;
    height: 133px;
    margin: auto;
}

#technology img+div {
    background: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

#technology h4 {
    margin: 60px 0;
}

#education .section-text {
    background-color: #77A076;
}

#education .section {
    background-color: #86aa85;
}

#connect .section-text {
    background-color: #D9D9D9;
}

#connect .section {
    background-color: #e6e6e6;
}

#connect .space-holder {
    height: 80px;
    margin: 60px 0;
}

#connect li,
#connect li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#connect li a {
    flex: 0.5;
}

#connect li a i {
    flex: 0.25;
}

#connect li a span {
    flex: 1;
}

#connect li input {
    flex: 1;
}

#connect {
    margin-bottom: -40px;
}

.sidenav h4 {
    margin-left: 33px;
}

.page-footer {
    margin-top: 40px;
    margin-bottom: -40px;
}

.p0 .col:not(.card-section.col, .card-section .col) {
    padding-left: 0;
    padding-right: 0;
}

.grey.darken-custom {
    background-color: #284B63 !important;
}

#connect .container-custom a {
    color: #284B63;
    font-size: 1.5rem;
}

div#technology .col {
    margin-right: 20px;
    box-shadow: 0 6px 4px #ccc;
}

.card .card-image img {
    height: 200px;
    object-fit: cover;
}

.card-section {
    display: none;
}

.away {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

#landing.away,
.away.smiley {
    transform: translateY(0);
    transition: all 2.5s;
}

.onboard {
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0);
    filter: blur(0);
}

#experience img {
    transition-delay: 700ms;
}

#technology img:nth-child(2) {
    transition-delay: 700ms;
}

#technology img:nth-child(3) {
    transition-delay: 900ms;
}

#technology img:nth-child(5) {
    transition-delay: 700ms;
}

#technology img:nth-child(7) {
    transition-delay: 700ms;
}

input[readonly]:focus {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.panda {
    position: absolute;
    top: 70%;
    right: -20px;
    visibility: hidden;
}

.appear {
    visibility: visible;
    animation: appear 1s ease-in;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    25% {
        opacity: 0.25;
        transform: translateY(-80px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(-60px);
    }

    75% {
        opacity: 0.75;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes drop {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-18px);
    }
}

.appear.drop {
    animation: drop 3s ease-in-out;
    display: block;
}

@media (prefers-reduced-motion) {
    .away {
        transition: none;
    }
}

@media (max-width:1199px) {
    .p0>div {
        float: revert !important;
        margin-left: 50px !important;
    }

    #technology img {
        max-width: 66px;
        height: 66px;
    }

    #technology img+div {
        font-size: 10px;
    }
}

@media (min-width:767px) and (max-width:991px) {
    #nav-mobile {
        transform: translateX(-13%) !important;
    }
}

@media (min-width:768px) {
    .secondary-window {
        display: none;
    }

    .main-window {
        display: block;
    }
}

@media (max-width:767px) {
    .main-window {
        display: none;
    }

    .secondary-window {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        flex-direction: column;
    }

}